.body {
    height: 90vh;
    margin: 0;
}

.headername {
      width: 106px;
      height: 22px;
      font-family: Tahoma;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
      margin-left: 5px;
}

@media (min-width: 576px) {  
    .card {
        height: 680px;
    }
}

@media (min-width: 768px) {  
     .card {
    height: 680px;
         }
}

@media (min-width: 992px) {  
     .card {
    height: 680px;
  } 
}

@media (min-width: 1200px) { 
      .card {
    height: 680px;
   } 
}

@media (min-width: 1400px) {  
     .card {
    height: 680px;
  } 
}

.card {
      top: 34px;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0px 20px;
}
  
.ag-paging-panel {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      background-color: #E5E5E5 ;
}
  
.grid {
      height: 100%;width:100%;
}
  
::-webkit-input-placeholder {
    color: black;
    font-weight: 400;
}
  
.breadcrumb {
    position: absolute;
    background-color:transparent;
    margin-left: 22px;
}
  
a {
    text-decoration:none ;
}

.cardBorder {
    margin: 0px 0px; 
     border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
  