<div class="body" style="margin-top: 20px;">
    <div class="card">
        <div class="row" style="margin: 0px 0px;  border-top-left-radius: 5px;
        border-top-right-radius: 5px; ">
            <div class="col-12">
                <div class="headername my-2" > {{invoiceList}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="customHeight">
                    <ag-grid-angular [gridOptions]="agGridOption" [modules]='modules' [rowData]="rowData"
                        ag-grid="gridOptions" [sortingOrder]="sortingOrder" [defaultColDef]="defaultColDef"
                        [rowModelType]="rowModelType" [serverSideStoreType]="serverSideStoreType"
                        (gridReady)="onGridReady($event)" class="agGridHorizontalScroll ag-theme-alpine grid">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
<li>jdsjdjjj</li>
<li>sdkjsdkj</li>