<div class="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" (click)="onBack()" style="color: blue; cursor: pointer;"> Invoice List</li>
        <li class="breadcrumb-item " aria-current="page">Invoice Details</li>
    </ol>
    <div class="row row-cols-1 row-cols-md-4 g-2 mx-3">
        <div class="col-md-2">
            <div class="card table1 invoiceDetail allcart">
                <div class="header">
                    <h6> {{invoiceHeader}} </h6>
                </div>
                <div class="row  mt-2 mx-1">
                    <div class="col-md-6">{{invoiceNumbers}}
                    </div>
                    <div class="col-md-6"> {{invoiceNumber}}</div>
                </div>
                <div class="row  mx-1 mt-1">
                    <div class="col-md-6">{{invoiceDates}}
                    </div>
                    <div class="col-md-6">{{invoiceDate | date : "dd/MM/y" }}</div>
                </div>
                <div class="row  mx-1 mt-1">
                    <div class="col-md-6 ">{{startDates}}
                    </div>
                    <div class="col-md-6"> {{startDate | date : "dd/MM/y" }} </div>
                </div>
                <div class="row  mx-1 mt-1">
                    <div class="col-md-6 ">{{endDates }}
                    </div>
                    <div class="col-md-6"> {{endDate | date : "dd/MM/y" }} </div>
                </div>
                <div class="row mx-1 mt-1">
                    <div class="col-md-6 ">{{invoiceFormate }}
                    </div>
                    <div class="col-md-6"> {{invoiceFormat}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card table1 firmDetails allcart">
                <div class="header">
                    <h6>{{firmHeader}} </h6>
                </div>
                <div class="row  mt-1 mx-1">
                    <div class="col-md-6">Firm Matter Id :  <br/> (In Matter)
                    </div>
                    <div class="col-md-6"> {{firmMatterId}}</div>
                </div>
                <div class="row ml-2 mx-1 ">
                    <div class="col-md-6">Firm Matter Id : <br/> (In Matter)
                    </div>
                    <div class="col-md-6">{{firmMatterId}}</div>
                </div>
                <div class="row  mt-1 mx-1">
                    <div class="col-md-6 "> Firm Client Matter Id : <br/> (In Matter)
                    </div>
                    <div class="col-md-6"> {{firmClientMatterId}} </div>
                </div>
                <div class="row mt-1 mx-1">
                    <div class="col-md-6 ">Firm Client Matter Id : <br/>(In Invoice)
                    </div>
                    <div class="col-md-6"> {{firmClientMatterId}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text matterDetails allcart">
                <div class="header">
                    <h6> {{matterHeader}} </h6>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4">Matter Name : <br/> (In Matter)</div>
                    <div class="col-md-8"> {{matterName}}</div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 ">Matter Name : <br/> (In Invoice)
                    </div>
                    <div class="col-md-8">{{matterName}}</div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 ">{{isFinals}}
                    </div>
                    <div class="col-md-8"> {{isFinal}} </div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4">{{clients}}
                    </div>
                    <div class="col-md-8"> {{client}} </div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 "> {{ firmClients }}
                    </div>
                    <div class="col-md-8"> {{firmClient}} </div>
                </div>
                <div class="row  mx-1">
                    <div class="col-md-4 ">{{ tagss }}
                    </div>
                    <div class="col-md-8"> {{tags}}</div>
                </div>
                <div class="row  mx-1">
                    <div class="col-md-4"> {{ ruleCodes }}
                    </div>
                    <div class="col-md-8"> {{ruleCode}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card finalTable allcart">
                <div class=" table-responsive">
                    <table class="table table-bordered  m-auto table1" style="display:table">
                        <thead style="background: #E6E6E6;">
                            <tr class="">
                                <th></th>
                                <th> {{orignal}} </th>
                                <th>{{changes}} </th>
                                <th>{{finals}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td style="font-weight: 700;font-size: 16px;">{{feess}}</td>
                                <td> {{totalOld}} </td>
                                <td> {{change}} </td>
                                <td> {{total}} </td>
                            </tr>
                            <tr class="">
                                <td style="font-weight: 700;font-size: 16px;">{{expensess}}</td>
                                <td> {{expenses}} </td>
                                <td> {{expenses}} </td>
                                <td> {{expenses}} </td>
                            </tr>
                            <tr class="">
                                <td style="font-weight: 700;font-size: 16px;">{{discounts}}</td>
                                <td> {{discount}} </td>
                                <td>{{discount}} </td>
                                <td> {{discount}} </td>
                            </tr>
                            <tr class="">
                                <td style="font-weight: 700;font-size: 16px;">{{totals}}</td>
                                <td> {{original}} </td>
                                <td> {{changeValue}} </td>
                                <td> {{final}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card list">
        <div class="row" style="margin: 0px 0px;  border-top-left-radius: 5px;
        border-top-right-radius: 5px; ">
            <div class="col-12">
                <div class="headername my-2"> {{invoiceHeader}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="customHeights">
                    <ag-grid-angular [gridOptions]="agGridOption" [modules]='modules' [rowData]="rowData"
                        [singleClickEdit]="true" class="agGridHorizontalScroll ag-theme-alpine grid">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
