<div class="body">
    <ol class="breadcrumb">
        <li class="breadcrumb-item invoiceListName" (click)="onBack()"> {{invoiceName}}</li>
        <li class="breadcrumb-item " aria-current="page">{{invoiceHeader}}</li>
    </ol>
    <div class="row row-cols-1 row-cols-md-4 g-2 mx-3">
        <div class="col-md-2">
            <div class="card table1 invoiceDetail allcart">
                <div class="header">
                    <h4 class="cardHeaderName"> {{invoiceHeader}} </h4>
                </div>
                <div class="row mt-2 mx-1">
                    <div class="col-md-6">{{invoiceNumbers}}
                    </div>
                    <div class="col-md-6"> {{invoiceNumber}}</div>
                </div>
                <div class="row mx-1 mt-1">
                    <div class="col-md-6">{{invoiceDates}}
                    </div>
                    <div class="col-md-6">{{invoiceDate | date : "dd/MM/y" }}</div>
                </div>
                <div class="row mx-1 mt-1">
                    <div class="col-md-6 ">{{startDates}}
                    </div>
                    <div class="col-md-6"> {{startDate | date : "dd/MM/y" }} </div>
                </div>
                <div class="row mx-1 mt-1">
                    <div class="col-md-6 ">{{endDates }}
                    </div>
                    <div class="col-md-6"> {{endDate | date : "dd/MM/y" }} </div>
                </div>
                <div class="row mx-1 mt-1">
                    <div class="col-md-6 ">{{invoiceFormate }}
                    </div>
                    <div class="col-md-6"> {{invoiceFormat}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card table1 firmDetails allcart">
                <div class="header">
                    <h4 class="cardHeaderName"> {{firmHeader}} </h4>
                </div>
                <div class="row  mt-1 mx-1">
                    <div class="col-md-6">{{this.firmMatterId1}} <br /> {{ this.inMatter}}
                    </div>
                    <div class="col-md-6"> {{firmMatterId}}</div>
                </div>
                <div class="row ml-2 mx-1 ">
                    <div class="col-md-6">{{this.firmMatterId1}} <br /> {{this.inInvoice}}
                    </div>
                    <div class="col-md-6">{{firmMatterId}}</div>
                </div>
                <div class="row  mt-1 mx-1">
                    <div class="col-md-6 ">{{this.firmClientId}} <br /> {{ this.inMatter}}
                    </div>
                    <div class="col-md-6"> {{firmClientMatterId}} </div>
                </div>
                <div class="row mt-1 mx-1">
                    <div class="col-md-6 ">{{this.firmClientId}} <br />{{this.inInvoice}}
                    </div>
                    <div class="col-md-6"> {{firmClientMatterId}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text matterDetails allcart">
                <div class="header">
                    <h4 class="cardHeaderName"> {{matterHeader}}</h4>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4">{{this.matterName1}} <br /> {{this.inMatter}}</div>
                    <div class="col-md-8"> {{matterName}}</div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 ">{{this.matterName1}} <br /> {{this.inInvoice}}
                    </div>
                    <div class="col-md-8">{{matterName}}</div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 ">{{isFinals}}
                    </div>
                    <div class="col-md-8"> {{isFinal}} </div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4">{{clients}}
                    </div>
                    <div class="col-md-8"> {{client}} </div>
                </div>
                <div class="row mx-1">
                    <div class="col-md-4 "> {{ firmClients }}
                    </div>
                    <div class="col-md-8"> {{firmClient}} </div>
                </div>
                <div class="row  mx-1">
                    <div class="col-md-4 ">{{ tagss }}
                    </div>
                    <div class="col-md-8"> {{tags}}</div>
                </div>
                <div class="row  mx-1">
                    <div class="col-md-4"> {{ ruleCodes }}
                    </div>
                    <div class="col-md-8"> {{ruleCode}} </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card finalTable allcart">
                <div class=" table-responsive">
                    <table class="table table-bordered  m-auto table1" style="display:table">
                        <thead class="tableHeader">
                            <tr>
                                <th></th>
                                <th> {{orignal}} </th>
                                <th>{{changes}} </th>
                                <th>{{finals}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{feess}}</td>
                                <td> {{totalOld}} </td>
                                <td> {{change}} </td>
                                <td> {{total}} </td>
                            </tr>
                            <tr>
                                <td>{{expensess}}</td>
                                <td> {{expenses}} </td>
                                <td> {{expenses}} </td>
                                <td> {{expenses}} </td>
                            </tr>
                            <tr>
                                <td>{{discounts}}</td>
                                <td> {{discount}} </td>
                                <td>{{discount}} </td>
                                <td> {{discount}} </td>
                            </tr>
                            <tr>
                                <td>{{totals}}</td>
                                <td> {{original}} </td>
                                <td> {{changeValue}} </td>
                                <td> {{final}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card list">
        <div class="row cardBorder">
            <div class="col-12">
                <div class="headername my-2"> {{invoiceHeader}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="customHeights">
                    <ag-grid-angular [gridOptions]="agGridOption" [modules]='modules' [rowData]="rowData"
                        (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)" [singleClickEdit]="true"
                        (cellKeyPress)="onCellKeyPress($event)" class="agGridHorizontalScroll ag-theme-alpine grid">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" color="accent"></mat-progress-spinner>
    <div class="saveButtons">
        <button type="button save" class="btn btn-primary btn-sm" (click)="updateTable()"
            [disabled]="condition">{{saveButton}}
            <fa-icon [icon]="faSave" class="ml-1"></fa-icon>
        </button>
    </div>
</div>