.invoiceDetail {
    background: #FFFFFF;
    border: 1px solid #306FAE;
    box-sizing: border-box;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 }
 
 .firmDetails {
     background: #FFFFFF;
     border: 1px solid #306FAE;
     box-sizing: border-box;
     box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
     border-radius: 5px;
 }
 
 .matterDetails {
    background: #FFFFFF;
    border: 1px solid #306FAE;
    box-sizing: border-box;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 }
 
 .finalTable {
    background: #FFFFFF;
    border: 1px solid #306FAE;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 }

 .tableHeader {
    background: #E6E6E6;   
 }

 .table {
    display:table
 }

 .cardBorder {
    margin: 0px 0px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
 }

 .tableDataFont {
    font-weight: 700;font-size: 16px; 
 }

 .breadcrumb {
    background-color:transparent;
    margin-left: 22px;
}

.header {
     margin-top: 20px;
     margin-left: 15px;
}
 
.invoiceListName { 
    color: blue;
    cursor: pointer;
 }
 
.list {
     top: 10px;
     border: 1px solid #DDDDDD;
     border-radius: 5px;
     margin: 2px 20px;
}
 
.ag-paging-panel {
     align-items: center;
     display: flex;
     justify-content: flex-end;
     background-color: #E5E5E5 ;
}
 
.grid {
     height: 100%;width:100%;
 }
 
.headername {
     font-family: Tahoma;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 22px;
     color: #333333;
}
 
.body {
     height: 90vh;
     margin: 0;
}
 
@media (min-width: 1400px) {    
.table1 {
    min-height: 287px;
}
.allcart {
  min-height: 287px;
  max-height: 287px;
 }
}

.saveButtons {
    float: right;
    margin: 12px 19px;
}

.save {
    background-color: #2D76BC;
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: #2D76BC;
}

.cardHeaderName {
    font-weight: bold;
    font-size: 16px;
}







 
 
   
   